*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.question{
    margin-bottom: 20px;
    text-align: center;
    padding: 0 5px;
}

.answers{
    width: 80%;
    height: 220px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 border: 1px solid black;
 align-items: center;
 padding: 1%;
 cursor: pointer;
}

.answer{
   width: 40%;
   min-height: 50px;
    border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.next-button{
    margin-top: 20px;
}

.true-answer{
    background-color: green;
    color: white;
}

.false-answer{
    background-color: red;
    color: white;
}

.points{
    margin: 20px 0 60px 0; 

}

.next-button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.helper{
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    background-color: green;
    color: white;
    cursor: pointer;

}
.not-active{
    background-color: red;
}
.active-answer{
    border: 5px black solid;
    transform: scale(1.1);
}

.reset{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}